### 1. Create a pandas dataframe, `df_iris`, from this data.

In [ ]:
import pandas as pd
import os, env
from pydataset import data

df_iris = data('iris')

# df_iris.head(3)
# df_iris.shape
# df_iris.info()
# df_iris.describe()

* print the first 3 rows

&nbsp;|Sepal.Length|Sepal.Width|Petal.Length|Petal.Width|Species
-:|-:|-:|-:|-:|-:
1|5.1|3.5|1.4|0.2|setosa
2|4.9|3.0|1.4|0.2|setosa
3|4.7|3.2|1.3|0.2|setosa

* print the number of rows and columns (shape)
    * `(150, 5)`

* print the column names

&nbsp;|Sepal.Length|Sepal.Width|Petal.Length|Petal.Width|Species
-:|-:|-:|-:|-:|-:
-| - | - | - | - | -

* print the data type of each column

&nbsp;| Column | Non-Null Count | Dtype  
---|------|--------------|-----  
 0|Sepal.Length|150 non-null|float64
 1|Sepal.Width|150 non-null|float64
 2|Petal.Length|150 non-null|float64
 3|Petal.Width|150 non-null|float64
 4|Species|150 non-null|object 

* print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

    * ___Nope, i'll leave it just the way it is...___



&nbsp;|Sepal.Length|Sepal.Width|Petal.Length|Petal.Width
-:|-:|-:|-:|-:
count|150.000000|150.000000|150.000000|150.000000
mean|5.843333|3.057333|3.758000|1.199333
std|0.828066|0.435866|1.765298|0.762238
min|4.300000|2.000000|1.000000|0.100000
25%|5.100000|2.800000|1.600000|0.300000
50%|5.800000|3.000000|4.350000|1.300000
75%|6.400000|3.300000|5.100000|1.800000
max|7.900000|4.400000|6.900000|2.500000

### 2. Read the `Table1_CustDetails` table from the `Excel_Exercises.xlsx` file into a dataframe named `df_excel`.


* print the number of rows of your original dataframe
    * `(7049, 25)`

* print the first 5 column names

customer_id|gender|is_senior_citizen|partner|dependents
-|-|-|-|-
-|-|-|-|-
    

* print the column names that have a data type of object


&nbsp;| Column | Non-Null Count | Dtype  
:--|:-----|:-------------|:----|
0|customer_id|7049 non-null|object 
 1|gender|7049 non-null|object 
 3|partner|7049 non-null|object 
 4|dependents|7049 non-null|object 
 8|payment_type|7049 non-null|object 
 11|churn|7049 non-null|object 
 19|start_date|7049 non-null|object 
 20|avg_monthly_charges|7049 non-null|object 
 21|matches_orig|7049 non-null|object 
 22|phone description|7049 non-null|object 
 23|internet_desciption|7049 non-null|object 
 24|contract_description|7049 non-null|object 

* compute the range for each of the numeric variables.

|       |   is_senior_citizen |   phone_service |   internet_service |   contract_type |   monthly_charges |   total_charges |    tenure |   partner_depenents |
|:------|--------------------:|----------------:|-------------------:|----------------:|------------------:|----------------:|----------:|--------------------:|
| min   |            0        |        0        |           0        |        0        |           18.25   |          18.8   |    0      |             0       |
| max   |            1        |        2        |           2        |        2        |          118.75   |        8684.8   |   79      |             3       |

In [ ]:
df_excel = pd.read_csv('telco_csv_data.csv')
df_excel_sample = df_excel.head(100)

# df_excel.shape
# df_excel.head(5)
numeric = df_excel.select_dtypes(include=['int64', 'float64'])
objs = df_excel.select_dtypes(include=['object'])
# temp = numeric.describe()
# print(objs.to_markdown())
# print(objs.describe().to_markdown())

### 3. Read the data from <a href='https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'>this google sheet</a> into a dataframe, `df_google`

* print the first 3 rows

|    |   PassengerId |   Survived |   Pclass | Name                                                | Sex    |   Age |   SibSp |   Parch | Ticket           |    Fare | Cabin   | Embarked   |
|---:|--------------:|-----------:|---------:|:----------------------------------------------------|:-------|------:|--------:|--------:|:-----------------|--------:|:--------|:-----------|
|  0 |             1 |          0 |        3 | Braund, Mr. Owen Harris                             | male   |    22 |       1 |       0 | A/5 21171        |  7.25   | nan     | S          |
|  1 |             2 |          1 |        1 | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female |    38 |       1 |       0 | PC 17599         | 71.2833 | C85     | C          |
|  2 |             3 |          1 |        3 | Heikkinen, Miss. Laina                              | female |    26 |       0 |       0 | STON/O2. 3101282 |  7.925  | nan     | S          |


* print the number of rows and columns

    * `(891, 12)`

* print the column names


PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked
:-|:-|:-|:-|:-|:-|:-|:-|:-|:-|:-|:-
---|---|---|---|---|---|---|---|---|---|---|---


* print the data type of each column
|Column Name| Dtype|
|:------------|:--------|
| PassengerId | int64   |
| Survived    | int64   |
| Pclass      | int64   |
| Name        | object  |
| Sex         | object  |
| Age         | float64 |
| SibSp       | int64   |
| Parch       | int64   |
| Ticket      | object  |
| Fare        | float64 |
| Cabin       | object  |
| Embarked    | object  |

* print the summary statistics for each of the numeric variables
|       |   PassengerId |   Survived |     Pclass |      Age |      SibSp |      Parch |     Fare |
|:------|--------------:|-----------:|-----------:|---------:|-----------:|-----------:|---------:|
| count |       891     | 891        | 891        | 714      | 891        | 891        | 891      |
| mean  |       446     |   0.383838 |   2.30864  |  29.6991 |   0.523008 |   0.381594 |  32.2042 |
| std   |       257.354 |   0.486592 |   0.836071 |  14.5265 |   1.10274  |   0.806057 |  49.6934 |
| min   |         1     |   0        |   1        |   0.42   |   0        |   0        |   0      |
| 25%   |       223.5   |   0        |   2        |  20.125  |   0        |   0        |   7.9104 |
| 50%   |       446     |   0        |   3        |  28      |   0        |   0        |  14.4542 |
| 75%   |       668.5   |   1        |   3        |  38      |   1        |   0        |  31      |
| max   |       891     |   1        |   3        |  80      |   8        |   6        | 512.329  |


* print the unique values for each of your categorical variables

Survived |Survived|
---:|-----------:|
0 |        549 |
1 |        342 |

Pclass |Pclass |
---:|---------:|
3 |      491 |
1 |      216 |
2 |      184 |

Sex |Sex |
:-------|------:|
male   |   577 |
female |   314 |

SibSp |SibSp |
---:|--------:|
0 |     608 |
1 |     209 |
2 |      28 |
4 |      18 |
3 |      16 |
8 |       7 |
5 |       5 |

Parch |Parch |
---:|--------:|
0 |     678 |
1 |     118 |
2 |      80 |
3 |       5 |
5 |       5 |
4 |       4 |
6 |       1 |

Embarked |Embarked |
:---|-----------:|
S  |        644 |
C  |        168 |
Q  |         77 |

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

# print(df_google.head(3).to_markdown())
# df_google.shape
# val = '|'.join(df_google.columns)
# print(df_google.dtypes.to_markdown())
# numeric = df_google.select_dtypes(include=['int64', 'float64'])
# print(numeric.describe().to_markdown())

# new_objs = df_google.drop(columns=['Name', 'Ticket', 'Cabin', 'PassengerId', 'Age', 'Fare'])

# for each_column in new_objs.columns:
#     temp = new_objs[f'{each_column}']
#     print(each_column, temp.value_counts().to_markdown())

<center><h1>Titanic Database</h1></center>

### 1. Make a function named `get_titanic_data` that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the _Codeup Data Science Database_.

In [ ]:
from acquire import get_iris_data, get_titanic_data
    
titanic_df = get_titanic_data()
iris_df = get_iris_data()