### 1. Create a pandas dataframe, `df_iris`, from this data.

In [1]:
import pandas as pd
import os, env
from pydataset import data

df_iris = data('iris')

# df_iris.head(3)
# df_iris.shape
# df_iris.info()
# df_iris.describe()

* print the first 3 rows

&nbsp;|Sepal.Length|Sepal.Width|Petal.Length|Petal.Width|Species
-:|-:|-:|-:|-:|-:
1|5.1|3.5|1.4|0.2|setosa
2|4.9|3.0|1.4|0.2|setosa
3|4.7|3.2|1.3|0.2|setosa

* print the number of rows and columns (shape)
    * `(150, 5)`

* print the column names

&nbsp;|Sepal.Length|Sepal.Width|Petal.Length|Petal.Width|Species
-:|-:|-:|-:|-:|-:
-| - | - | - | - | -

* print the data type of each column

&nbsp;| Column | Non-Null Count | Dtype  
---|------|--------------|-----  
 0|Sepal.Length|150 non-null|float64
 1|Sepal.Width|150 non-null|float64
 2|Petal.Length|150 non-null|float64
 3|Petal.Width|150 non-null|float64
 4|Species|150 non-null|object 

* print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

    * ___Nope, i'll leave it just the way it is...___



&nbsp;|Sepal.Length|Sepal.Width|Petal.Length|Petal.Width
-:|-:|-:|-:|-:
count|150.000000|150.000000|150.000000|150.000000
mean|5.843333|3.057333|3.758000|1.199333
std|0.828066|0.435866|1.765298|0.762238
min|4.300000|2.000000|1.000000|0.100000
25%|5.100000|2.800000|1.600000|0.300000
50%|5.800000|3.000000|4.350000|1.300000
75%|6.400000|3.300000|5.100000|1.800000
max|7.900000|4.400000|6.900000|2.500000

### 2. Read the `Table1_CustDetails` table from the `Excel_Exercises.xlsx` file into a dataframe named `df_excel`.


* print the number of rows of your original dataframe
    * `(7049, 25)`

* print the first 5 column names

customer_id|gender|is_senior_citizen|partner|dependents
-|-|-|-|-
-|-|-|-|-
    

* print the column names that have a data type of object


&nbsp;| Column | Non-Null Count | Dtype  
:--|:-----|:-------------|:----|
0|customer_id|7049 non-null|object 
 1|gender|7049 non-null|object 
 3|partner|7049 non-null|object 
 4|dependents|7049 non-null|object 
 8|payment_type|7049 non-null|object 
 11|churn|7049 non-null|object 
 19|start_date|7049 non-null|object 
 20|avg_monthly_charges|7049 non-null|object 
 21|matches_orig|7049 non-null|object 
 22|phone description|7049 non-null|object 
 23|internet_desciption|7049 non-null|object 
 24|contract_description|7049 non-null|object 

* compute the range for each of the numeric variables.

|       |   is_senior_citizen |   phone_service |   internet_service |   contract_type |   monthly_charges |   total_charges |    tenure |   partner_depenents |
|:------|--------------------:|----------------:|-------------------:|----------------:|------------------:|----------------:|----------:|--------------------:|
| min   |            0        |        0        |           0        |        0        |           18.25   |          18.8   |    0      |             0       |
| max   |            1        |        2        |           2        |        2        |          118.75   |        8684.8   |   79      |             3       |

In [2]:
df_excel = pd.read_csv('telco_csv_data.csv')
df_excel_sample = df_excel.head(100)

# df_excel.shape
# df_excel.head(5)
numeric = df_excel.select_dtypes(include=['int64', 'float64'])
objs = df_excel.select_dtypes(include=['object'])
# temp = numeric.describe()
# print(objs.to_markdown())
# print(objs.describe().to_markdown())

### 3. Read the data from <a href='https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'>this google sheet</a> into a dataframe, `df_google`

* print the first 3 rows

|    |   PassengerId |   Survived |   Pclass | Name                                                | Sex    |   Age |   SibSp |   Parch | Ticket           |    Fare | Cabin   | Embarked   |
|---:|--------------:|-----------:|---------:|:----------------------------------------------------|:-------|------:|--------:|--------:|:-----------------|--------:|:--------|:-----------|
|  0 |             1 |          0 |        3 | Braund, Mr. Owen Harris                             | male   |    22 |       1 |       0 | A/5 21171        |  7.25   | nan     | S          |
|  1 |             2 |          1 |        1 | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female |    38 |       1 |       0 | PC 17599         | 71.2833 | C85     | C          |
|  2 |             3 |          1 |        3 | Heikkinen, Miss. Laina                              | female |    26 |       0 |       0 | STON/O2. 3101282 |  7.925  | nan     | S          |


* print the number of rows and columns

    * `(891, 12)`

* print the column names


PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked
:-|:-|:-|:-|:-|:-|:-|:-|:-|:-|:-|:-
---|---|---|---|---|---|---|---|---|---|---|---


* print the data type of each column
|Column Name| Dtype|
|:------------|:--------|
| PassengerId | int64   |
| Survived    | int64   |
| Pclass      | int64   |
| Name        | object  |
| Sex         | object  |
| Age         | float64 |
| SibSp       | int64   |
| Parch       | int64   |
| Ticket      | object  |
| Fare        | float64 |
| Cabin       | object  |
| Embarked    | object  |

* print the summary statistics for each of the numeric variables
|       |   PassengerId |   Survived |     Pclass |      Age |      SibSp |      Parch |     Fare |
|:------|--------------:|-----------:|-----------:|---------:|-----------:|-----------:|---------:|
| count |       891     | 891        | 891        | 714      | 891        | 891        | 891      |
| mean  |       446     |   0.383838 |   2.30864  |  29.6991 |   0.523008 |   0.381594 |  32.2042 |
| std   |       257.354 |   0.486592 |   0.836071 |  14.5265 |   1.10274  |   0.806057 |  49.6934 |
| min   |         1     |   0        |   1        |   0.42   |   0        |   0        |   0      |
| 25%   |       223.5   |   0        |   2        |  20.125  |   0        |   0        |   7.9104 |
| 50%   |       446     |   0        |   3        |  28      |   0        |   0        |  14.4542 |
| 75%   |       668.5   |   1        |   3        |  38      |   1        |   0        |  31      |
| max   |       891     |   1        |   3        |  80      |   8        |   6        | 512.329  |


* print the unique values for each of your categorical variables

Survived |Survived|
---:|-----------:|
0 |        549 |
1 |        342 |

Pclass |Pclass |
---:|---------:|
3 |      491 |
1 |      216 |
2 |      184 |

Sex |Sex |
:-------|------:|
male   |   577 |
female |   314 |

SibSp |SibSp |
---:|--------:|
0 |     608 |
1 |     209 |
2 |      28 |
4 |      18 |
3 |      16 |
8 |       7 |
5 |       5 |

Parch |Parch |
---:|--------:|
0 |     678 |
1 |     118 |
2 |      80 |
3 |       5 |
5 |       5 |
4 |       4 |
6 |       1 |

Embarked |Embarked |
:---|-----------:|
S  |        644 |
C  |        168 |
Q  |         77 |

In [3]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

# print(df_google.head(3).to_markdown())
# df_google.shape
# val = '|'.join(df_google.columns)
# print(df_google.dtypes.to_markdown())
# numeric = df_google.select_dtypes(include=['int64', 'float64'])
# print(numeric.describe().to_markdown())

# new_objs = df_google.drop(columns=['Name', 'Ticket', 'Cabin', 'PassengerId', 'Age', 'Fare'])

# for each_column in new_objs.columns:
#     temp = new_objs[f'{each_column}']
#     print(each_column, temp.dropna().unique())

<center><h1>Titanic Database</h1></center>

### 1. Make a function named `get_titanic_data` that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the _Codeup Data Science Database_.


### Make a function named `get_iris_data` that returns the data from the `iris_db` on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the `species_id`. Obtain your data from the _Codeup Data Science Database_.

### Once you've got your `get_titanic_data` and `get_iris_data` functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like `titanic.csv` or `iris.csv`. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [12]:
from acquire import get_iris_data, get_titanic_data

titanic_df = get_titanic_data()
iris_df = get_iris_data()

(     sepal_length  sepal_width  petal_length  petal_width     species
 0             5.1          3.5           1.4          0.2      setosa
 1             4.9          3.0           1.4          0.2      setosa
 2             4.7          3.2           1.3          0.2      setosa
 3             4.6          3.1           1.5          0.2      setosa
 4             5.0          3.6           1.4          0.2      setosa
 5             5.4          3.9           1.7          0.4      setosa
 6             4.6          3.4           1.4          0.3      setosa
 7             5.0          3.4           1.5          0.2      setosa
 8             4.4          2.9           1.4          0.2      setosa
 9             4.9          3.1           1.5          0.1      setosa
 10            5.4          3.7           1.5          0.2      setosa
 11            4.8          3.4           1.6          0.2      setosa
 12            4.8          3.0           1.4          0.1      setosa
 13            4.3          3.0           1.1          0.1      setosa
 14            5.8          4.0           1.2          0.2      setosa
 15            5.7          4.4           1.5          0.4      setosa
 16            5.4          3.9           1.3          0.4      setosa
 17            5.1          3.5           1.4          0.3      setosa
 18            5.7          3.8           1.7          0.3      setosa
 19            5.1          3.8           1.5          0.3      setosa
 20            5.4          3.4           1.7          0.2      setosa
 21            5.1          3.7           1.5          0.4      setosa
 22            4.6          3.6           1.0          0.2      setosa
 23            5.1          3.3           1.7          0.5      setosa
 24            4.8          3.4           1.9          0.2      setosa
 25            5.0          3.0           1.6          0.2      setosa
 26            5.0          3.4           1.6          0.4      setosa
 27            5.2          3.5           1.5          0.2      setosa
 28            5.2          3.4           1.4          0.2      setosa
 29            4.7          3.2           1.6          0.2      setosa
 30            4.8          3.1           1.6          0.2      setosa
 31            5.4          3.4           1.5          0.4      setosa
 32            5.2          4.1           1.5          0.1      setosa
 33            5.5          4.2           1.4          0.2      setosa
 34            4.9          3.1           1.5          0.2      setosa
 35            5.0          3.2           1.2          0.2      setosa
 36            5.5          3.5           1.3          0.2      setosa
 37            4.9          3.6           1.4          0.1      setosa
 38            4.4          3.0           1.3          0.2      setosa
 39            5.1          3.4           1.5          0.2      setosa
 40            5.0          3.5           1.3          0.3      setosa
 41            4.5          2.3           1.3          0.3      setosa
 42            4.4          3.2           1.3          0.2      setosa
 43            5.0          3.5           1.6          0.6      setosa
 44            5.1          3.8           1.9          0.4      setosa
 45            4.8          3.0           1.4          0.3      setosa
 46            5.1          3.8           1.6          0.2      setosa
 47            4.6          3.2           1.4          0.2      setosa
 48            5.3          3.7           1.5          0.2      setosa
 49            5.0          3.3           1.4          0.2      setosa
 50            7.0          3.2           4.7          1.4  versicolor
 51            6.4          3.2           4.5          1.5  versicolor
 52            6.9          3.1           4.9          1.5  versicolor
 53            5.5          2.3           4.0          1.3  versicolor
 54            6.5          2.8           4.6          1.5  versicolor
 55            5.7          2.8           4.5          1.3  versicolor
 56            6.3          3.3           4.7          1.6  versicolor
 57            4.9          2.4           3.3          1.0  versicolor
 58            6.6          2.9           4.6          1.3  versicolor
 59            5.2          2.7           3.9          1.4  versicolor
 60            5.0          2.0           3.5          1.0  versicolor
 61            5.9          3.0           4.2          1.5  versicolor
 62            6.0          2.2           4.0          1.0  versicolor
 63            6.1          2.9           4.7          1.4  versicolor
 64            5.6          2.9           3.6          1.3  versicolor
 65            6.7          3.1           4.4          1.4  versicolor
 66            5.6          3.0           4.5          1.5  versicolor
 67            5.8          2.7           4.1          1.0  versicolor
 68            6.2          2.2           4.5          1.5  versicolor
 69            5.6          2.5           3.9          1.1  versicolor
 70            5.9          3.2           4.8          1.8  versicolor
 71            6.1          2.8           4.0          1.3  versicolor
 72            6.3          2.5           4.9          1.5  versicolor
 73            6.1          2.8           4.7          1.2  versicolor
 74            6.4          2.9           4.3          1.3  versicolor
 75            6.6          3.0           4.4          1.4  versicolor
 76            6.8          2.8           4.8          1.4  versicolor
 77            6.7          3.0           5.0          1.7  versicolor
 78            6.0          2.9           4.5          1.5  versicolor
 79            5.7          2.6           3.5          1.0  versicolor
 80            5.5          2.4           3.8          1.1  versicolor
 81            5.5          2.4           3.7          1.0  versicolor
 82            5.8          2.7           3.9          1.2  versicolor
 83            6.0          2.7           5.1          1.6  versicolor
 84            5.4          3.0           4.5          1.5  versicolor
 85            6.0          3.4           4.5          1.6  versicolor
 86            6.7          3.1           4.7          1.5  versicolor
 87            6.3          2.3           4.4          1.3  versicolor
 88            5.6          3.0           4.1          1.3  versicolor
 89            5.5          2.5           4.0          1.3  versicolor
 90            5.5          2.6           4.4          1.2  versicolor
 91            6.1          3.0           4.6          1.4  versicolor
 92            5.8          2.6           4.0          1.2  versicolor
 93            5.0          2.3           3.3          1.0  versicolor
 94            5.6          2.7           4.2          1.3  versicolor
 95            5.7          3.0           4.2          1.2  versicolor
 96            5.7          2.9           4.2          1.3  versicolor
 97            6.2          2.9           4.3          1.3  versicolor
 98            5.1          2.5           3.0          1.1  versicolor
 99            5.7          2.8           4.1          1.3  versicolor
 100           6.3          3.3           6.0          2.5   virginica
 101           5.8          2.7           5.1          1.9   virginica
 102           7.1          3.0           5.9          2.1   virginica
 103           6.3          2.9           5.6          1.8   virginica
 104           6.5          3.0           5.8          2.2   virginica
 105           7.6          3.0           6.6          2.1   virginica
 106           4.9          2.5           4.5          1.7   virginica
 107           7.3          2.9           6.3          1.8   virginica
 108           6.7          2.5           5.8          1.8   virginica
 109           7.2          3.6           6.1          2.5   virginica
 110           6.5          3.2           5.1          2.0   virginica
 111           6.4          2.7           5.3          1.9   virginica
 112           6.8          3.0           5.5          2.1   virginica
 113           5.7          2.5           5.0          2.0   virginica
 114           5.8          2.8           5.1          2.4   virginica
 115           6.4          3.2           5.3          2.3   virginica
 116           6.5          3.0           5.5          1.8   virginica
 117           7.7          3.8           6.7          2.2   virginica
 118           7.7          2.6           6.9          2.3   virginica
 119           6.0          2.2           5.0          1.5   virginica
 120           6.9          3.2           5.7          2.3   virginica
 121           5.6          2.8           4.9          2.0   virginica
 122           7.7          2.8           6.7          2.0   virginica
 123           6.3          2.7           4.9          1.8   virginica
 124           6.7          3.3           5.7          2.1   virginica
 125           7.2          3.2           6.0          1.8   virginica
 126           6.2          2.8           4.8          1.8   virginica
 127           6.1          3.0           4.9          1.8   virginica
 128           6.4          2.8           5.6          2.1   virginica
 129           7.2          3.0           5.8          1.6   virginica
 130           7.4          2.8           6.1          1.9   virginica
 131           7.9          3.8           6.4          2.0   virginica
 132           6.4          2.8           5.6          2.2   virginica
 133           6.3          2.8           5.1          1.5   virginica
 134           6.1          2.6           5.6          1.4   virginica
 135           7.7          3.0           6.1          2.3   virginica
 136           6.3          3.4           5.6          2.4   virginica
 137           6.4          3.1           5.5          1.8   virginica
 138           6.0          3.0           4.8          1.8   virginica
 139           6.9          3.1           5.4          2.1   virginica
 140           6.7          3.1           5.6          2.4   virginica
 141           6.9          3.1           5.1          2.3   virginica
 142           5.8          2.7           5.1          1.9   virginica
 143           6.8          3.2           5.9          2.3   virginica
 144           6.7          3.3           5.7          2.5   virginica
 145           6.7          3.0           5.2          2.3   virginica
 146           6.3          2.5           5.0          1.9   virginica
 147           6.5          3.0           5.2          2.0   virginica
 148           6.2          3.4           5.4          2.3   virginica
 149           5.9          3.0           5.1          1.8   virginica,
      setosa  versicolor  virginica
 0         1           0          0
 1         1           0          0
 2         1           0          0
 3         1           0          0
 4         1           0          0
 5         1           0          0
 6         1           0          0
 7         1           0          0
 8         1           0          0
 9         1           0          0
 10        1           0          0
 11        1           0          0
 12        1           0          0
 13        1           0          0
 14        1           0          0
 15        1           0          0
 16        1           0          0
 17        1           0          0
 18        1           0          0
 19        1           0          0
 20        1           0          0
 21        1           0          0
 22        1           0          0
 23        1           0          0
 24        1           0          0
 25        1           0          0
 26        1           0          0
 27        1           0          0
 28        1           0          0
 29        1           0          0
 30        1           0          0
 31        1           0          0
 32        1           0          0
 33        1           0          0
 34        1           0          0
 35        1           0          0
 36        1           0          0
 37        1           0          0
 38        1           0          0
 39        1           0          0
 40        1           0          0
 41        1           0          0
 42        1           0          0
 43        1           0          0
 44        1           0          0
 45        1           0          0
 46        1           0          0
 47        1           0          0
 48        1           0          0
 49        1           0          0
 50        0           1          0
 51        0           1          0
 52        0           1          0
 53        0           1          0
 54        0           1          0
 55        0           1          0
 56        0           1          0
 57        0           1          0
 58        0           1          0
 59        0           1          0
 60        0           1          0
 61        0           1          0
 62        0           1          0
 63        0           1          0
 64        0           1          0
 65        0           1          0
 66        0           1          0
 67        0           1          0
 68        0           1          0
 69        0           1          0
 70        0           1          0
 71        0           1          0
 72        0           1          0
 73        0           1          0
 74        0           1          0
 75        0           1          0
 76        0           1          0
 77        0           1          0
 78        0           1          0
 79        0           1          0
 80        0           1          0
 81        0           1          0
 82        0           1          0
 83        0           1          0
 84        0           1          0
 85        0           1          0
 86        0           1          0
 87        0           1          0
 88        0           1          0
 89        0           1          0
 90        0           1          0
 91        0           1          0
 92        0           1          0
 93        0           1          0
 94        0           1          0
 95        0           1          0
 96        0           1          0
 97        0           1          0
 98        0           1          0
 99        0           1          0
 100       0           0          1
 101       0           0          1
 102       0           0          1
 103       0           0          1
 104       0           0          1
 105       0           0          1
 106       0           0          1
 107       0           0          1
 108       0           0          1
 109       0           0          1
 110       0           0          1
 111       0           0          1
 112       0           0          1
 113       0           0          1
 114       0           0          1
 115       0           0          1
 116       0           0          1
 117       0           0          1
 118       0           0          1
 119       0           0          1
 120       0           0          1
 121       0           0          1
 122       0           0          1
 123       0           0          1
 124       0           0          1
 125       0           0          1
 126       0           0          1
 127       0           0          1
 128       0           0          1
 129       0           0          1
 130       0           0          1
 131       0           0          1
 132       0           0          1
 133       0           0          1
 134       0           0          1
 135       0           0          1
 136       0           0          1
 137       0           0          1
 138       0           0          1
 139       0           0          1
 140       0           0          1
 141       0           0          1
 142       0           0          1
 143       0           0          1
 144       0           0          1
 145       0           0          1
 146       0           0          1
 147       0           0          1
 148       0           0          1
 149       0           0          1)