In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

ModuleNotFoundError: No module named 'seaborn'

Paper by: Hadley Wickham

https://vita.had.co.nz/papers/tidy-data.pdf

### Data cleaning:

tidy data != clean data


- outlier checking  
- date parsing
- missing value imputation etc.
- <ins>data tidying: structuring datasets to facilitate analysis.</ins>

### Data semantics: tidy data

- Value: every value belongs to a variable and an observation.
- Variable: a variable contains all values that measure the same underlying attribute (like height, temperature, duration) across units.
- Observation: an observation contains all values measured on the same unit (like a person, or a day, or a race) across attributes.

####  datasets for lesson and exercises:

- https://classroom.google.com/c/MjU0ODgwOTM0NTgx/m/MzQzMzM2NzU0Mzc2/details

In [ ]:
# lets look at this data:
treatments = pd.read_csv('untidy-data/treatment.csv')
treatments

In [ ]:
#rename columns
treatments.columns = ['name', 'a', 'b', 'c']
treatments

What is an obervation here?  
variables?  
values?

In [ ]:
# restructure data using 'melt'

treatments = treatments.melt(id_vars=['name'], var_name='treatment', value_name='response')

In [ ]:
treatments

### Tidy data : 
- Each variable forms a column.
- Each observation forms a row.
- Each cell has a single value.
- data is tabular, i.e. made up of rows and columns

In [ ]:
# Examples of tidy-data?

#### General Ideas  
- If the units are the same, maybe they should be in the same column.
- If one column has measurements of different units, it should be spread out  
- Should you be able to groupby some of the columns? combine them  
- Can I pass this data to seaborn?  

- Can we ask interesting questions and answer them with a groupby? i.e. generally we don't want to be taking row or column averages.

### How to deal with 'messy' data


##### Reshaping data:  
  
- Wide data --> Long data format (Melt)  
- Long data --> Wide Data format (pivot_table, unstack)

#### 1. Messy data: Column headers are values, not variable names.

In [ ]:
df = pd.read_csv('untidy-data/pew.csv')

In [ ]:
# look at info

In [ ]:
# look at the head

In [ ]:
# Melt the data. Creates two new columns with deault name of 'variable' and 'value'

In [ ]:
# melt data and specify names of new columns

df_tidy

#### pd.melt arguments
- id_vars = columns you want to keep (not melt)
- var_name = name of new column you created by melting columns
- value_name = column name for values

#### Another example: one variable stored across multiple columns

In [4]:
billboard = pd.read_csv('untidy-data/billboard.csv')
billboard

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# melt the data

billboard_melt

In [ ]:
# what is the mean rating (across all weeks) of each track?

#### 2. Messy data: Multiple variables are stored in one column.

In [2]:
df = pd.DataFrame({
    'name': ['Sally', 'Jane', 'Billy', 'Suzy'],
    'pet': ['dog: max', 'dog: buddy', 'cat: grizabella', 'hamster: fred']
})
df

    name              pet
0  Sally         dog: max
1   Jane       dog: buddy
2  Billy  cat: grizabella
3   Suzy    hamster: fred

#### Messy data: Variables are stored in both rows and columns

In [ ]:
weather = pd.read_csv('untidy-data/weather.csv')

weather.head()

In [ ]:
# melt the 'days'

weather_long

In [ ]:
# pivot the element column. Reset index to go from multi-index to flat dataframe.

weather_tidy

#### pd.pivot_table arguments
- Index = columns you want to keep (not pivot)
- columns = column you want to pivot
- values = values we want to populate in the new columns
- aggfunct = how you want to aggregate the duplicate rows

## Mini Exercise:

- read in excel file named dem_score.xls
- convert the data in tidy format (hint: melt the data)
- convert the melted dataframe back in wide-format (hint: pivot the data)

In [ ]:
# read in the excel file named dem_score.xlsx
!conda  

# df = pd.read_excel('untidy-data/dem_score.xlsx')
# df.head()

In [ ]:
# is the data in tidy format? What is the shape of data?

In [ ]:
# convert dataframe in 'tidy' format (hint: pd.melt)

In [ ]:
# check shape of tidy dataframe

In [ ]:
# convert the data back in wide format (hint: pivot_table)

#### Bit more complex example

In [ ]:
sales = pd.read_csv('untidy-data/sales.csv')

In [ ]:
sales.head()

In [ ]:
# first we melt all the columns expect 'Product'

sales_melt

In [ ]:
# shape of melted dataset

In [ ]:
# here we split the 'variable' column to create two new columns 'year' and 'measure'

In [ ]:
# now we will pivot the 'measure' column to create the two new columns 'PPU' and 'Sales'
# reset the index to flatten the dataframe 

sales_tidy